<%= render 'shared/navbar_new' %>
<div class="row under-navbar">
  <div class="col-lg-2 col-lg-offset-1 offset-lg-2">
    <h2>Посмотреть</h2>
    <% if policy(@user).update? %>
      <%= render partial: 'form', locals: { film: @film, type: :to_watch } %>
    <% end %>

    <div class="mt-5">
      <% @intentions.each do |intent| %>
        <%= turbo_frame_tag(dom_id(intent)) do %>
          <div class="card mb-1" title="Добавлено <%= intent.created_at.strftime('%d.%m.%y') %>">
            <div class="card-body d-flex align-items-center gap-2">
              <span class="card-text text-truncate flex-grow-1">
                <%= intent.intended.name %>
              </span>
              <% if policy(@user).update? %>
                <%= button_to "X", destroy_intents_user_film_path(id: intent.intended_id), method: :delete,
                    class: "btn btn-outline-secondary btn-iconic flex-shrink-0",
                    data: { confirm: "You sure?" } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
  <div class="col-lg-6 col-lg-offset-1">
    <h2>Посмотрел</h2>
    <% if policy(@user).update? %>
      <%= render partial: 'form', locals: { film: @film, type: :consumed } %>
    <% end %>

    <%# cache @user do %>

      <%= render partial: "watchings_list" %>

    <%# end %>
  </div>
</div>
