<div class="row">
  <div class="col-lg-7">
    <h2>Посмотрел</h2>
    <%= render partial: 'form', locals: { film: @film, type: :consumed } %>

    <table class="table">
      <thead>
        <th>Film</th>
        <th>Finish</th>
        <th>User Rate</th>
        <th></th>
      </thead>
      <tbody>
        <% @watchings.each do |watch| %>
          <% Rails.logger.info watch %>
          <tr>
            <td><%= watch.film.name %></td>
            <td><%= watch.finish %></td>
            <td><%= watch.rate %></td>
            <td>
              <%= link_to "X", user_film_path(id: watch.id),
                    method: :delete, data: { confirm: "You sure?" }%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4 col-lg-offset-1">
    <h2>Посмотреть</h2>
    <%= render partial: 'form', locals: { film: @film, type: :to_watch } %>
      <table class="table">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @intentions.each do |intent| %>
            <tr>
              <td><%= intent.intended.name %></td>
              <td><%= intent.created_at.strftime('%d.%m.%y %H:%M') %></td>
              <td>
                <%= link_to 'X', destroy_intents_user_film_path(id: intent.intended_id), method: :delete,
                              data: { confirm: "You sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
