<div class="row">
  <div class="col-lg-2 col-lg-offset-1">
    <h2>Посмотреть</h2>
    <%= render partial: 'form', locals: { film: @film, type: :to_watch } %>
    <table class="table">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @intentions.each do |intent| %>
          <tr>
            <td><%= intent.intended.name %></td>
            <td>
              <%= link_to 'X', destroy_intents_user_film_path(id: intent.intended_id), method: :delete, data: { confirm: "You sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-lg-offset-1">
    <h2>Посмотрел</h2>
    <%= render partial: 'form', locals: { film: @film, type: :consumed } %>

    <table class="table">
      <thead>
        <th>Film</th>
        <th></th>
        <th>Critics</th>
        <th>User Rate</th>
        <th></th>
      </thead>
      <tbody>
        <% @watchings.each do |watch| %>
          <tr>
            <td><%= watch.film.name %></td>
            <td>
              <span class='<%= 'film-dates' if watch.finish %>'><%= watch.dates %></span>
            </td>
            <td><%= critics(watch.film) %></td>
            <td><%= watch.rate %></td>
            <td>
              <%= link_to "X", user_film_path(id: watch.id),
                    method: :delete, data: { confirm: "You sure?" }%> |
              <%= link_to 'Edit', edit_user_film_path(id: watch.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
