<%= render 'shared/navbar' %>
<div class="row under-navbar">
  <div class="col-lg-2 col-lg-offset-1">
    <h2>Посмотреть</h2>
    <% if policy(@user).update? %>
      <%= render partial: 'form', locals: { film: @film, type: :to_watch } %>
    <% end %>
    <table class="table">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @intentions.each do |intent| %>
          <tr>
            <td title="Добавлено <%= intent.created_at.strftime('%d.%m.%y') %>"><%= intent.intended.name %></td>
            <td>
              <% if policy(@user).update? %>
                <%= link_to 'X', destroy_intents_user_film_path(id: intent.intended_id), method: :delete, data: { confirm: "  You sure?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-lg-offset-1">
    <h2>Посмотрел</h2>
    <% if policy(@user).update? %>
      <%= render partial: 'form', locals: { film: @film, type: :consumed } %>
    <% end %>

    <table class="table">
      <thead>
        <th>Film</th>
        <th></th>
        <th>Critics</th>
        <th>User Rate</th>
        <th></th>
      </thead>
      <tbody>
        <% @watchings.each do |presenter| %>
          <tr title="<%= presenter.hint %>">
            <td class='<%= 'watched' if presenter.finish %>'>
              <%= presenter.film.name %>
            </td>
            <td class='<%= 'watched' if presenter.finish %>'>
              <%= presenter.dates %>
            </td>
            <td><%= critics(presenter.film) %></td>
            <td><%= user_rate(presenter.rate) %></td>
            <td>
              <% if policy(@user).update? %>
                <%= link_to "X", user_film_path(id: presenter.id),
                      method: :delete, data: { confirm: "You sure?" }%> |
                <%= link_to 'Edit', edit_user_film_path(id: presenter.id) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
