<%= render 'shared/navbar_new' %>
<div class="row under-navbar">
  <div class="col-lg-2 col-lg-offset-1 offset-lg-2">
    <h2>Посмотреть</h2>
    <% if policy(@user).update? %>
      <%= render partial: 'form', locals: { film: @film, type: :to_watch } %>
    <% end %>

    <% if false %>
      <table class="table">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @intentions.each do |intent| %>
            <tr>
              <td title="Добавлено <%= intent.created_at.strftime('%d.%m.%y') %>"><%= intent.intended.name %></td>
              <td>
                <% if policy(@user).update? %>
                  <%= link_to 'X', destroy_intents_user_film_path(id: intent.intended_id), data: { method: :delete, confirm: "You sure?" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <div class="mt-5">
      <% @intentions.each do |intent| %>
        <div class="card mb-1" title="Добавлено <%= intent.created_at.strftime('%d.%m.%y') %>">
          <div class="card-body">
            <turbo-frame id="item_1">
              <p class="card-text"><%= intent.intended.name %></p>
            </turbo-frame>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col-lg-6 col-lg-offset-1">
    <h2>Посмотрел</h2>
    <% if policy(@user).update? %>
      <%= render partial: 'form', locals: { film: @film, type: :consumed } %>
    <% end %>

    <% cache @user do %>
    <table class="table">
      <thead>
        <th>Film</th>
        <th></th>
        <th>Critics</th>
        <th>User Rate</th>
        <th></th>
      </thead>
      <tbody>
        <% @watchings.each do |watch_object| %>
          <tr title="<%= watch_object.hint %>">
            <td class='<%= watch_object.html_classes.join(" ") %>'>
              <%= watch_object.film.name %>
            </td>
            <td class='<%= 'watched' if watch_object.finish %>'>
              <%= watch_object.dates %>
            </td>
            <td><%= critics(watch_object.film) %></td>
            <td><%= user_rate(watch_object.rate) %></td>
            <td>
              <% if policy(@user).update? %>
                <%= link_to "X", user_film_path(id: watch_object.id),
                      data: { method: :delete, confirm: "You sure?" } %> |
                <%= link_to 'Edit', edit_user_film_path(id: watch_object.id) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
