<h1>Hello in readings index</h1>

<div class="row">
  <div class="col-lg-7">
    <h3>Read books</h3>
    <%= render partial: 'form', locals: { book: @book, type: :consumed } %>

    <table class="table">
      <thead>
        <th>Book</th>
        <th>Start</th>
        <th>Finish</th>
        <th>short</th>
        <th>profy</th>
        <th></th>
      </thead>
      <tbody>
        <% @user.readings.each do |reading| %>
          <tr>
            <td><%= reading.book.caption %></td>
            <td><%= reading.start %></td>
            <td><%= reading.finish %></td>
            <td><%= reading.book.short %></td>
            <td><%= reading.professional %></td>
            <td>
              <%= link_to 'X', '#' %> |
              <%= link_to 'Edit', edit_user_book_path(id: reading.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <div class="col-lg-5">
    <h3>Books to read</h3>
    <%= render partial: 'form', locals: { book: @book, type: :to_read } %>

    <table class="table">
      <thead>
        <th>Book</th>
        <th>short</th>
        <th></th>
      </thead>
      <tbody>
        <% @user.intended_books.each do |book| %>
          <tr>
            <td><%= book.caption %></td>
            <td><%= book.short %></td>
            <td>
              <%= link_to 'delete', destroy_intents_user_book_path(id: book.id), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
