<div class="row">
  <div class="col-lg-7">
    <h2>Прочитано</h2>
    <%= render partial: 'form', locals: { book: @book, type: :consumed } %>

    <table class="table">
      <thead>
        <th>Book</th>
        <th>Finish</th>
        <th></th>
      </thead>
      <tbody>
        <% @user.readings.each do |reading| %>
          <tr class="<%= "short" if reading.book.short %> <%= "profy" if reading.professional %>"
              title="<%= reading.hint if reading.start %>"
            >
            <td><%= reading.book.caption %></td>
            <td><%= reading.finish&.strftime('%d.%m.%y') %></td>
            <td>
              <%= link_to 'X', '#' %> |
              <%= link_to 'Edit', edit_user_book_path(id: reading.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-lg-4 col-lg-offset-1">
    <h2>Прочитать</h2>
    <%= render partial: 'form', locals: { book: @book, type: :to_read } %>

    <table class="table">
      <thead>
        <th>Book</th>
        <th></th>
      </thead>
      <tbody>
        <% @user.intended_books.each do |book| %>
          <tr class="<%= "short" if book.short %>">
            <td><%= book.caption %></td>
            <td>
              <%= link_to 'X', destroy_intents_user_book_path(id: book.id), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
